#navbar {
    background-color: #3f79ff;
    border-radius: 0px;
    border: 0px
}

#navbar-title{
    color: #ffffff;
}

.navbar-link{
    color: #B5D6F2;
}

#navbar-title:hover{
    color: #FFCC7F;
}

/*to accomadate the navbar*/
body{
    padding-top: 65px
}

.name_blurb{

    text-align: center
}

.mid_nopad{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px
}

.top_nopad{
    text-align: center;
    margin-bottom: 0px
}

.bot_nopad{
    text-align: center;
    margin-top: 0px
}

#uploader{
    color: salmon;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 90%;
    height: 300px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}
.drop-box-secondary{
    padding-left: 10px;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 121px;
    text-align: center;
    padding-top: 0px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding-right: 10px;
}

.drop-box-text{
    margin-top: 100px
}

.drop-box-text-secondary{
    margin-top: 45px
}

.dragover {
    border: 5px dashed blue;
}


.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.right_icon{
    float: right;
}

.app-header{
    text-align: center;
    margin-bottom: 30px;
}

.center_text{
    text-align: center;
}

.center_image{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.custom_input{
    width: 73%;
    margin: auto;
    margin-top: 20%;
    height: 60px;
    text-align: center;
    font-size: 25px;
}

.progress-bar{
    background-color: #3f79ff;
}

#app-header{
    margin-top: 43px;
}

.button-patch{
    margin-right: 15px;
    margin-top: 24px;
}

.btn-custom-primary{
    background-color: #3F79FF;
    color: #fff;
}

.btn-custom-primary:hover {
    background-color: #1A48B2;
    color: #fff;
}

.btn-custom-edit{
    background-color: #F7B43A;
    color: #fff;
}

.btn-custom-edit:hover{
    background-color: #c4862c;
    color: #fff;
}

.btn-custom-edit:active{
    background-color: #c4862c;
    color: #fff;
}



.btn-custom-proceed{
    background-color: #49CC1E;
    color: #fff;
}

.btn-custom-proceed:hover{
    background-color: #44BE1D;
    color: #fff;
}

.btn-custom-proceed:active{
    background-color: #44BE1D;
    color: #fff;
}

.btn-in-cell{
    width: 100%;
    margin-bottom: 15px
}

#waveDiv{
    margin-top:100px
}

#play-button{
    margin-top: 100px;
}