<div>
    <h1>
        Upload Files
    </h1>
    <p>
        Drag .mp3 or .wav files to the box below and click GO to create a mixed track
    </p>




    <div>
        <div ngf-drop ngf-select ng-model="files" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
             ngf-pattern="'.mp3,.wav'">
            <h3>
                Drag Songs Here or Click to Upload
            </h3>
        </div>
        <div ngf-no-file-drop>
            File Drag/Drop is not supported for this browser
        </div>
        Files:
        <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
        </ul>
        Upload Log:
        <pre>{{log}}</pre>
    </div>
</div>
</div>