.name_blurb{

	text-align: center
}

.mid_nopad{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px
}

.top_nopad{
	text-align: center;
	margin-bottom: 0px
}

.bot_nopad{
	text-align: center;
	margin-top: 0px
}