<div>

    <!--<div class="col-xs-2">-->
        <!--<button class="btn-custom-proceed btn pull-right btn-in-cell" ng-click="lookIn()">-->
            <!--Look IN-->
        <!--</button>-->
    <!--</div>-->

    <div ng-hide = 'true' id="playlist_id">
        {{playlist.id}}
    </div >
    <div ng-if ="!initialized">



        <input ng-if="!username"
               class="form-control custom_input"
               type="text" focus="true"
               ng-model="username"
               placeholder="Enter username"
               ng-keyup="$event.keyCode == 13 && enterUsername(username)" />

        <input ng-if="username"
               class="form-control custom_input"
               type="text"
               focus="true"
               ng-model="playlistName"
               placeholder="Enter Playlist Name"
               ng-keyup="$event.keyCode == 13 && initialize(playlistName)" />

        <!--TODO - Add capabilities to access old playlists here or create a new one-->
    </div>


    <div ng-show="initialized">
        <div ng-hide="uploadBegan">
            <h1 class="app-header">
                Upload Files
            </h1>


            <div  ngf-drop ngf-select ng-model="files" class="drop-box"
                  ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                  ngf-pattern="'.mp3,.wav'">
                <h3 class="drop-box-text">
                    Drag .mp3 or .wav files into this box
                </h3>
            </div>



        </div>


        <div ng-show="uploadBegan && !processing">


            <div class="row">
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="percentageComplete !=100 && !addingMoreSongs">
                    Songs Uploading
                 </h1>
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="percentageComplete ==100 && !addingMoreSongs">
                    Songs Uploaded
                </h1>
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="addingMoreSongs">
                    Adding More Songs
                </h1>

            </div>



            <div class= "col-xs-10">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-xs-9" ng-show="addingMoreSongs">
                        <div  ngf-drop ngf-select ng-model="files" class="drop-box-secondary"
                              ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                              ngf-pattern="'.mp3,.wav'">
                            <h3 class="drop-box-text-secondary">
                                Drag into this box
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="row" ng-repeat="s in songsToDisplay">


                    <div class="col-md-3">
                        {{s.name}}
                    </div>

                    <div class ='col-md-9'>
                        <uib-progressbar value="s.percentage">
                            <span style="color:white; white-space:nowrap;">{{s.percentage}}%</span>
                        </uib-progressbar>

                    </div>


                </div>
            </div>

            <div class="col-xs-2">
                <button class="btn-custom-edit btn pull-right btn-in-cell" ng-if="percentageComplete >=100 && !addingMoreSongs" ng-click="addMoreSongs()">
                    Add More Songs
                </button>
            </div>


            <div class="col-xs-2">
                <button class="btn-custom-proceed btn pull-right btn-in-cell" ng-if="percentageComplete >=100" ng-click="processSongs()">
                    Next
                </button>
            </div>
        </div>



        <div ng-if="processing">
            <h1 class="app-header" ng-hide="showWaveform">
                Your songs are being Mixed...
            </h1>
            <img src="/resources/preloader.gif" class="center_image" ng-hide="showWaveform">

            <div ng-hide="showWaveform">
                <button class="btn-custom-proceed btn pull-right btn-in-cell" ng-if="weDidIt" onclick="initialize()" ng-click="readytoseewaves()">
                    Next
                </button>
            </div>

            <div ng-show="showWaveform">

                <!-- TODO <div class="row">-->
                    <!--<div class="col-md-4 col-md-offset-4">-->
                        <!--<h1>-->
                            <!--{{user.username}} {{playlist.name}}-->
                        <!--</h1>-->
                    <!--</div>-->
                <!--</div>-->

                <div id="waveDiv">
                    <div id="waveform" ></div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <button id = "play-button" class="btn-custom-primary btn pull-right btn-in-cell" onclick="surf.playPause()">
                            <i class="glyphicon glyphicon-play"></i>
                            Play
                        </button>
                    </div>
                </div>





                <script>
                    /**
                     * Created by djdapz on 3/14/16.
                     */
                    var surf = undefined;

                    var initialize = function(){
                        var song_id = document.getElementById("playlist_id");
                        song_id = song_id.innerText;
                        song_id = song_id.trim();

                        var wavesurfer = WaveSurfer.create({
                            container: '#waveform',
                            waveColor: "#3F79FF",
                            progressColor: 'purple'
                        });

                        console.log(song_id);
                        var path = './songs/' + song_id + '.mp3'
                        wavesurfer.load(path);

                        surf = wavesurfer;
                        return true;


                    };

                </script>

            </div>


        </div>







    </div>

</div>