<div>


    <div ng-if ="!initialized">
        <input ng-if="!usernameEntered"
               class="form-control"
               id="custom_input"
               type="text" focus="true"
               ng-model="username"
               placeholder="Enter username"
               ng-keyup="$event.keyCode == 13 && goToPlaylistName(username)" />

        <input ng-if="usernameEntered"
               class="form-control"
               id="custom_input"
               type="text"
               focus="true"
               ng-model="playlistName"
               placeholder="Enter Playlist Name"
               ng-keyup="$event.keyCode == 13 && initialize(playlistName)" />
    </div>


    <div ng-show="initialized">
        <div ng-hide="uploadBegan">
            <h1 class="app-header">
                Upload Files
            </h1>


            <div  ngf-drop ngf-select ng-model="files" class="drop-box"
                  ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                  ngf-pattern="'.mp3,.wav'">
                <h3 class="drop-box-text">
                    Drag .mp3 or .wav files into this box
                </h3>
            </div>



        </div>


        <div ng-show="uploadBegan && !processing">


            <div class="row">
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="percentageComplete !=100 && !addingMoreSongs">
                    Songs Uploading
                 </h1>
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="percentageComplete ==100 && !addingMoreSongs">
                    Songs Uploaded
                </h1>
                <h1 class="app-header col-md-8 col-md-offset-2" ng-show="addingMoreSongs">
                    Adding More Songs
                </h1>

            </div>



            <div class= "col-xs-10">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-xs-9" ng-show="addingMoreSongs">
                        <div  ngf-drop ngf-select ng-model="files" class="drop-box-secondary"
                              ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                              ngf-pattern="'.mp3,.wav'">
                            <h3 class="drop-box-text-secondary">
                                Drag into this box
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="row" ng-repeat="s in songsToDisplay">


                    <div class="col-md-3">
                        {{s.name}}
                    </div>

                    <div class ='col-md-9'>
                        <uib-progressbar value="s.percentage">
                            <span style="color:white; white-space:nowrap;">{{s.percentage}}%</span>
                        </uib-progressbar>

                    </div>


                </div>
            </div>

            <div class="col-xs-2">
                <button class="btn-custom-edit btn pull-right btn-in-cell" ng-if="percentageComplete >=100 && !addingMoreSongs" ng-click="addMoreSongs()">
                    Add More Songs
                </button>
            </div>


            <div class="col-xs-2">
                <button class="btn-custom-proceed btn pull-right btn-in-cell" ng-if="percentageComplete >=100" ng-click="processSongs()">
                    Next
                </button>
            </div>

            <!--<div class="col-xs-2">-->
                <!--<button class="btn-custom-proceed btn pull-right btn-in-cell" ng-click="lookIn()">-->
                    <!--Look IN-->
                <!--</button>-->
            <!--</div>-->









        </div>

        <div ng-if="processing">
            <h1 class="app-header">
                Your songs are being Mixed...
            </h1>
            <img src="/resources/preloader.gif" class="center_image">

            <div>
                <a class="btn-custom-proceed btn pull-right btn-in-cell" ng-if="weDidIt" href="#/play">
                    Next
                </a>
            </div>
        </div>


    </div>

</div>